<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
</head>
<body>
    <h1>{{ .Title }} - {{fDateMdy .Date }}</h1>
    {{ $people := .People }}
    <ul>
        {{ range $people }}
            <li>{{uc .Name }} is from {{ .Country }}</li>
        {{ end }}
    </ul>
    <hr>
        {{ $cars := .Cars }}
        <ul>
            {{ range $cars }}
                <li>
                    {{ .Name }} is made by {{uc .Manufacturer | ft }} and is {{ .Age }} years old.
                </li>
            {{ end }}
        </ul>
</body>
</html>